body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100;
    background-color: aqua;
}

section {
    width: 100%;
    height: 100;
    /*background-color: rgb(28, 167, 10);*/
    background-image: linear-gradient (to bottom right, orange, purple) display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#main {
    box-shadow: 10px 10px;
}

.about-me {
    width: 100%;
    height: 200;
    margin: 10px 0 10px 0;
    border: solid black 10px;
    background-color: rgb(121, 13, 97);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.endlist {
    list-style-type: circle;
    line-height: 100px;
}

.ozzy-pic {
    width: 200px;
    border: solid black 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#name {
    color: darkblue;
}